:root {
/** COLORS **/
	--white: #fff;
	--white-translucent: #d7ccc0;
	--light: #f5f4f0;
	--basic: #fe8a02;
	--basic-hover: #EA7600;
	--basic-dark: #42413c;
	--dark: #2a2626;
	--dark-translucent: #908d8b;
	--brown: #b09a81;
	--blue: #1085c5;

	/** TITLE SIZE **/
	--title-spacing: 1.2em;
	--title-size-level1: 72px;
	--title-size-level2: 60px;
	--title-size-level3: 34px;
}

/** FONTS **/

@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-Regular.ttf");
	font-weight: 400;
	font-style: normal;
  }

@font-face {
	font-family: OpenSans;
	src: url("../fonts/OpenSans-SemiBold.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Neucha;
	src: url("../fonts/Neucha-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}

/** BACKGROUND **/

.background {
	position: relative;
	overflow: hidden;
}

.background::before {
	display: block;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-image: url('../images/background.png');
	background-repeat:no-repeat;
  	background-size: cover;
	opacity: 0.1;

	content: '';
}

.background-light {
	background-color: var(--light);
}

/** TITLE **/

.title-orange {
	color: var(--basic);
}

.title-1 {
	font-family: Neucha, serif;
	font-size: var(--title-size-level1);
	line-height: var(--title-spacing);
}

/** COLUMNS **/

.columns {
	display: flex;
	justify-content: space-between;
}

.column-1 {
	flex-basis: 50%;
	margin-right: 30px;
}

.column-2 {
	flex-basis: 50%;
}

.column-2 p:nth-child(2) {
	margin: 20px 0 40px;
}


/** STRUCTURE **/

.section-structure {
	max-width: 1110px;
	margin: 0 auto;
	padding: 100px 0;

}

/** POSITION **/

.position-relative {
	position: relative;
}

.z-index-10 {
	z-index: 10;
}

.z-index-20 {
	z-index: 20;
}


/** BUTTON **/

.button {
	padding: 12px 24px;
	background: var(--basic);
	color: #f5f4f0;

	font-weight: 700;
}

.button:visited {
	color: #f5f4f0;
}

.button:hover {
	color: #f5f4f0;
	background: var(--basic-hover);
}




/** **/

body {
	font-family: OpenSans, serif;
	font-size: 16px;
	line-height: 1.6em;
	color: var(--dark);

}




/** HEADER **/

.header-image {
	width: 100%;
	height: 525px;

	position: absolute;
	top: 55px;
	right: -270px;

	z-index: 10;
}

.offset {
	margin-bottom: 200px;
}

.header-height {
	height: 914px;
}




